<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Choose</title>
    <style>
	p {
        text-align: center;
                     }
	</style>
</head>
<body>
    <H1 style="font-family: Verdana, sans-serif; text-align: center; background-color: rgb(119,205,216); color: white;">VK statistics APP</H1>
    <H3 style="font-family: Verdana, sans-serif; text-align: center;">Download statistics in csv file or display it on graphs?</H3>
    <form action="" method="post">
        <p>
			<input type="submit" name="Download" value="Download">
			<input type="submit" name="Graphic" value="Graphic">
	    </p>
    </form>
</body>
</html>
